[submodule "ChibiOS-Contrib"]
	path = ChibiOS-Contrib
	url = https://github.com/ChibiOS/ChibiOS-Contrib.git
[submodule "FirmwareRepo/Dias32Workspace/gen2Practice"]
	path = FirmwareRepo/Dias32Workspace/gen2Practice
	url = https://github.com/chowdhuryRakibul/gen2Practice